<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="online.mengchen.collectionhelper">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".CollectHelperApplication"
        android:allowBackup="true"
        android:icon="@drawable/collect"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">


        <activity android:name=".ui.document.DisplayDocumentActivity" />
        <activity android:name=".ui.cloudstore.CloudStoreChooseActivity" />
        <activity
            android:name=".ui.cloudstore.CloudStoreConfigActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.share.video.VideoShareActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.share.document.DocumentShareActivity"
            android:label="收藏文档"
            android:theme="@style/Theme.CollectHelpShare">

            <!-- 注册收藏 word ppt excel pdf 等文档格式 -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <!-- pdf -->
                <data android:mimeType="application/pdf" />
                <!-- word -->
                <data android:mimeType="application/msword" />
                <!-- excel -->
                <data android:mimeType="application/vnd.ms-excel" />
                <!-- ppt -->
                <data android:mimeType="application/vnd.ms-powerpoint" />
                <!-- docx -->
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                <!-- xlsx -->
                <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                <!-- pptx -->
                <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />
                <!-- pdf -->
                <data android:mimeType="application/pdf" />
                <!-- word -->
                <data android:mimeType="application/msword" />
                <!-- excel -->
                <data android:mimeType="application/vnd.ms-excel" />
                <!-- ppt -->
                <data android:mimeType="application/vnd.ms-powerpoint" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.user.register.RegisterActivity" />
        <activity
            android:name=".ui.share.music.MusicShareActivity"
            android:label="收藏音乐"
            android:theme="@style/Theme.CollectHelpShare">

            <!-- 注册收藏音乐 -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="audio/*" />
            </intent-filter>

            <!-- 注册收藏多个音乐 -->
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.image.list.ImageListActivity" />
        <activity android:name=".ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.image.share.ImageShareActivity"
            android:label="收藏图片"
            android:theme="@style/Theme.CollectHelpShare">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bookmark.BookMarkShareActivity"
            android:label="收藏书签"
            android:theme="@style/Theme.CollectHelpShare">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".bookmark.BookMarkViewActivity" />
        <activity
            android:name=".ui.user.LoginActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.main.MainActivity" />

        <!-- 视频播放的 activity 注册 -->
        <activity android:name="com.tencent.smtt.sdk.VideoActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.tencent.smtt.tbs.video.PLAY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>